@keyframes animated-size {
  0% {
    width: 100%;
    height: 100%;
  }
  25% {
    width: 10px;
    height: 150%;
  }
  50% {
    width: 100%;
    height: 100%;
  }
  75% {
    width: 150%;
    height: 10px;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

.animatedCanvasSize {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: animated-size;
  animation-timing-function: ease;
}
